.quadrado{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(3,3,3);
    margin: 30px auto;
    padding: 40px;
}

.outro-quadrado{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(3,3,3);
}