.card{
    width:50vw;
    height:60vh;
    padding:0px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

figure{
    width:40%;
    height: 100%;
}

figure > img{
    width:100%;
    height: 100%;
    object-fit: contain;
}

section.info{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
}

.info>h3{
    font-size: 0.9em;
}

.info>h1{
    font-size: 1.4em;
    color:black;
}