.card-especification{
    box-sizing: border-box;
    width:200px;
    height:270px;
    margin: 10px 10px;
    padding:15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-especification > p{
    font-size: 0.7em;
    text-align: justify;
}

.card-especification > .icon{
    display: block;
    margin: 5px auto;
}