* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  background: darkseagreen;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 1rem;
  border-radius: 1.2rem;
}

div > img {
  width: 100%;
  height: 50%;
  border-radius: 1.2rem 1.2rem 0 0;
}

div > h2, p, a{
  margin: 13px 0 0 13px;
}

div > p {
  font-size: 20px;
}

div > a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 17px;
}